* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  background-image: linear-gradient(180deg, rgb(1, 1, 34), skyblue);
}

.banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.slider {
  position: absolute;
  top: 10%;
  left: 43%;
  width: 12.5rem;
  height: 15.5rem;
  transform-style: preserve-3d;
  transform: perspective(62.5rem);
  animation: spin 20s linear infinite;
  transform-origin: center;
}

@keyframes spin {
  from {
    transform: perspective(62.5rem) rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(62.5rem) rotateX(-16deg) rotateY(360deg);
  }
}

.item {
  position: absolute;
  width: 100%;
  height: 100%;
}

.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}

.item:nth-child(1) {
  transform: rotateY(0deg) translateZ(34.375rem);
}
.item:nth-child(2) {
  transform: rotateY(36deg) translateZ(34.375rem);
}
.item:nth-child(3) {
  transform: rotateY(72deg) translateZ(34.375rem);
}
.item:nth-child(4) {
  transform: rotateY(108deg) translateZ(34.375rem);
}
.item:nth-child(5) {
  transform: rotateY(144deg) translateZ(34.375rem);
}
.item:nth-child(6) {
  transform: rotateY(180deg) translateZ(34.375rem);
}
.item:nth-child(7) {
  transform: rotateY(216deg) translateZ(34.375rem);
}
.item:nth-child(8) {
  transform: rotateY(252deg) translateZ(34.375rem);
}
.item:nth-child(9) {
  transform: rotateY(288deg) translateZ(34.375rem);
}
.item:nth-child(10) {
  transform: rotateY(324deg) translateZ(34.375rem);
}
