* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.box {
  text-align: center;
}

.fan img {
  height: 200px;
  width: 200px;
  margin-top: 200px;
  margin-bottom: 30px;
  transition: transform 0.3s;
}

input {
  display: none;
}

.fan {
  margin-bottom: 50px;
}

#speed1:checked ~ .fan img {
  animation-name: spin;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#speed2:checked ~ .fan img {
  animation-name: spin;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#speed3:checked ~ .fan img {
  animation-name: spin;
  animation-duration: 0.7s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#speed4:checked ~ .fan img {
  animation-name: spin;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#speed5:checked ~ .fan img {
  animation-name: spin;
  animation-duration: 0.1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.labels {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
label {
  border-radius: 7px;
  background-color: rgb(192, 191, 191);
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

label:hover {
  background-color: rgb(14, 14, 14);
  color: whitesmoke;
}
